<div class="footer bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5>About Us</h5>
                <p class="about-text">
                    Welcome to eBazar, your one-stop destination for shopping smart and living better. Our dynamic eCommerce platform is designed to connect buyers with a wide range of high-quality products across multiple categories — from everyday essentials to exclusive finds.
                </p>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="#">About Us</a></li>
                            <li class="mb-2"><a href="#">Advertise</a></li>
                            <li class="mb-2"><a href="#">Careers</a></li>
                            <li class="mb-2"><a href="#">Subscribes</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="#">Travel</a></li>
                            <li class="mb-2"><a href="#">Lifestyle</a></li>
                            <li class="mb-2"><a href="#">Sports</a></li>
                            <li class="mb-2"><a href="#">Nature</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <h5 class="text-light">Connect With Us</h5>
                <div class="social-icons">
                    <a href="#" class="mx-2" title="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="mx-2" title="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="mx-2" title="instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="mx-2" title="mail"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 ">
                <p class="text-center">Copyright © 2025 All rights reserved | eBazzar</p>
            </div>
        </div>
    </div>
</div>

<script>
    var successMessage = '@TempData["SuccessMessage"]';
    var infoMessage = '@TempData["InfoMessage"]';
    var errorMessage = '@TempData["ErrorMessage"]';
</script>